AUTH0_URL=<Auth0 URL>
AUTH0_CLIENT_ID=<Auth0 Client ID>
AUTH0_CLIENT_SECRET=<Auth0 Client Secret>
AUTH0_AUDIENCE=<Auth0 Audience>
PORT=<Port for Health check plugin>
CLAMAV_HOST=<ClamAV Host>
CLAMAV_PORT=<ClamAV Port>
KAFKA_URL=<Kafka URL>
BUSAPI_EVENTS_URL=<Bus API URL>
LIGHTSTEP_ACCESS_TOKEN=<Lightstep Access Token>
SIGNALFX_ACCESS_TOKEN=<SignalFx Access Token>
SIGNALFX_TRACE_AGENT_HOSTNAME=<SignalFx Trace Agent Hostname>
DD_TRACE_AGENT_HOSTNAME=<DataDog Trace Agent Hostname>